<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head::head(title='MH Optimizer')"></head>
<body>
	<header th:replace="fragments/parts::header"></header>
	<div>
		<!-- <h1><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/profesores/addProfesor}">Añadir Profesor</a></h1>
		 -->
<!-- 			<h1>Arsenal</h1> -->
			<div class="arsenalContent">
				<div class=" content arsenalInstance" th:each="a : ${arsenal}">
					<div class="deleteArsenal">
						<div></div>
						<div><a th:href="@{'/arsenal/remove?codigo='+${a.armadura.id}}">X</a></div>
						
					</div>
					
					<img th:src="@{'/img/armors/'+${a.armadura.parte}+${a.armadura.rareza}+'.png'}">
					<p th:text="${a.armadura.nombre}"></p>
				</div>
			</div>

			
		<!-- <h1><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/profesores/addProfesor}">Añadir Profesor</a></h1>
		-->
	</div>
</body>
</html>